repos:
- repo: local
  hooks:
    - id: ruff-check
      name: ruff check
      description: "Run 'ruff check' for extremely fast Python linting"
      entry: ruff check --fix
      language: system
      types_or: [python]
      args: []
      require_serial: true

    - id: ruff-format
      name: ruff format
      description: "Run 'ruff format' for extremely fast Python formatting"
      entry: ruff format
      language: system
      types_or: [python]
      args: []
      require_serial: true

    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      require_serial: true
      args:
        []
